@page
@model ErroDataIsEMpty

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div style="color: red">
    <center>
        <h1>The Tournament results have not been uploaded</h1>
        <h4>this coud be coused if enough players have not been reached and or the tournament has been cancelled</h4>
        <h4>the results might be uploaded later if a tornament just finished</h4>
    </center>
</div>
</body>
</html>